ingame-ui#ToolbarPushback #ToolbarPushbackWrap {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    align-items: stretch !important;
    flex: 1 1 auto !important
}

    ingame-ui#ToolbarPushback #ToolbarPushbackWrap #ToolbarPushbackIframe {
        flex: 1 1 auto !important;
        border: 0
    }

ingame-ui#ToolbarPushback .hidden {
    display: none
}

ingame-ui#ToolbarPushback .ingameUiContent {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 0 !important;
    min-width: 0 !important;
    overflow: hidden !important;
    align-items: stretch !important;
    flex: 1 1 auto !important
}

ingame-ui#ToolbarPushback .ingameUiWrapper {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 0 !important;
    min-width: 0 !important;
    overflow: hidden !important;
    align-items: stretch !important;
    flex: 1 1 auto !important
}

ingame-ui#ToolbarPushback #MainDisplay {
    display: flex;
    flex-direction: column;
    justify-content: left
}

ingame-ui#ToolbarPushback .wrapper {
    background: var(--backgroundColorPanel);
    width: 100%;
    max-width: 100vw;
    padding: 3px;
    overflow: hidden
}

ingame-ui#ToolbarPushback .btn-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden
}

ingame-ui#ToolbarPushback .half-width {
    width: 50%;
    flex-basis: 50%
}

ingame-ui#ToolbarPushback .vert-center {
    display: flex;
    flex-direction: column;
    justify-content: center
}

ingame-ui#ToolbarPushback .custom-btn {
    width: 100%;
    flex-basis: 100%;
    margin: 2px
}

ingame-ui#ToolbarPushback .tab {
    display: none;
    visibility: hidden
}

    ingame-ui#ToolbarPushback .tab.active {
        display: flex;
        flex-direction: column;
        justify-content: left;
        visibility: visible;
        border-top: 2px solid #fff
    }

ingame-ui#ToolbarPushback #PushbackWait {
    display: inline-block;
    vertical-align: middle
}

ingame-ui#ToolbarPushback #Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: .6em;
    font-weight: 700;
    color: #fff;
    padding: 0 5px 7px;
    margin: 0
}

    ingame-ui#ToolbarPushback #Footer strong {
        color: #ff0;
        font-weight: 400
    }

    ingame-ui#ToolbarPushback #Footer .footerSub {
        display: block;
        font-weight: 400;
        padding-top: 1px
    }

    ingame-ui#ToolbarPushback #Footer.update-avail .footerSub:not(.updateBanner), ingame-ui#ToolbarPushback.minimized #Footer {
        display: none
    }

ingame-ui#ToolbarPushback inputable-range {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 10px;
    margin: 0
}

    ingame-ui#ToolbarPushback inputable-range label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle
    }

    ingame-ui#ToolbarPushback inputable-range number-input, ingame-ui#ToolbarPushback inputable-range ui-input {
        display: none;
        visibility: hidden
    }

    ingame-ui#ToolbarPushback inputable-range.disabled {
        opacity: .3;
        pointer-events: none
    }

ingame-ui#ToolbarPushback new-push-button.center-text * {
    text-align: center;
    width: 100%
}

ingame-ui#ToolbarPushback new-push-button.active {
    --bgc: var(--accentColor);
    --tc: var(--contrastedTextColor);
    transition: none
}

    ingame-ui#ToolbarPushback new-push-button.active.Focused {
        --bgc: var(--enabledHoverBackGroundColor);
        --tc: var(--enabledHoverColor)
    }

    ingame-ui#ToolbarPushback new-push-button.active.clicked, ingame-ui#ToolbarPushback new-push-button.busy {
        --bgc: var(--activeBackGroundColor);
        --tc: var(--activeColor)
    }

ingame-ui#ToolbarPushback hr {
    display: block;
    position: relative;
    border: 0;
    border-bottom: 1px dotted var(--enabledBackGroundColor);
    margin: 10px 5px
}

ingame-ui#ToolbarPushback new-push-button.big {
    flex-direction: column;
    align-items: center;
    justify-content: center
}

    ingame-ui#ToolbarPushback new-push-button.big .subtitle {
        font-size: .6em;
        font-weight: 400;
        padding-top: 2px;
        opacity: .6
    }

ingame-ui#ToolbarPushback new-push-button.no-sub .subtitle {
    display: none;
    visibility: hidden
}

ingame-ui#ToolbarPushback new-push-button.alert-btn {
    display: none;
    width: 100%;
    flex-basis: 100%;
    margin: 2px
}

    ingame-ui#ToolbarPushback new-push-button.alert-btn.active {
        display: flex
    }

ingame-ui#ToolbarPushback new-push-button.secact-btn, ingame-ui#ToolbarPushback new-push-button.secact-btn.Focused {
    --bgc: var(--color-green-darken);
    --tc: var(--color-white)
}

    ingame-ui#ToolbarPushback new-push-button.secact-btn.active {
        --bgc: var(--color-green-dim);
        --tc: var(--color-white);
        transition: none
    }

    ingame-ui#ToolbarPushback new-push-button.secact-btn.busy, ingame-ui#ToolbarPushback new-push-button.secact-btn.clicked {
        --bgc: var(--activeBackGroundColor);
        --tc: var(--activeColor)
    }

ingame-ui#ToolbarPushback new-push-button.cancel-btn, ingame-ui#ToolbarPushback new-push-button.cancel-btn.Focused {
    --bgc: var(--color-red-darken);
    --tc: var(--color-white)
}

    ingame-ui#ToolbarPushback new-push-button.cancel-btn.active {
        --bgc: var(--color-red);
        --tc: var(--color-white);
        transition: none
    }

    ingame-ui#ToolbarPushback new-push-button.cancel-btn.busy, ingame-ui#ToolbarPushback new-push-button.cancel-btn.clicked {
        --bgc: var(--activeBackGroundColor);
        --tc: var(--activeColor)
    }

ingame-ui#ToolbarPushback new-push-button.hidden {
    display: none
}

ingame-ui#ToolbarPushback .sliderWrap {
    position: relative;
    width: 100%;
    color: #777
}

    ingame-ui#ToolbarPushback .sliderWrap > span {
        display: block;
        position: absolute;
        bottom: 14px;
        font-size: .8em;
        font-weight: 400;
        margin: 0
    }

        ingame-ui#ToolbarPushback .sliderWrap > span.centerLine {
            top: 50%;
            left: 50%;
            width: 1px;
            height: 30px;
            font-size: 2em;
            border: 1px solid #777;
            margin: 4px 0 0
        }

ingame-ui#ToolbarPushback virtual-scroll .wrapper {
    background: 0 0
}

ingame-ui#ToolbarPushback .settings toggle-button .title {
    text-transform: unset !important;
    font-weight: 400;
    padding-bottom: 2px
}

ingame-ui#ToolbarPushback .settings options-list-content {
    margin-bottom: .278em
}

ingame-ui#ToolbarPushback .settings inputable-range {
    padding: 3px 5px 2px
}

ingame-ui#ToolbarPushback .settings .condensedPanel--background inputable-range {
    background-color: var(--backgroundColorPanel);
    margin: 0
}

    ingame-ui#ToolbarPushback .settings .condensedPanel--background inputable-range:hover {
        color: var(--enabledColor)
    }

ingame-ui#ToolbarPushback .settings inputable-range number-input {
    display: unset;
    visibility: unset
}

ingame-ui#ToolbarPushback .settings inputable-range label {
    text-transform: unset !important;
    font-weight: 400
}

ingame-ui#ToolbarPushback keybind-box {
    background-color: var(--backgroundColorPanel);
    display: flex;
    flex-direction: row;
    color: var(--enabledColor);
    line-height: 2em;
    padding: 2px 5px
}

    ingame-ui#ToolbarPushback keybind-box label {
        min-width: 0;
        font-size: var(--fontSizeParagraph);
        font-weight: 400;
        text-transform: unset;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

    ingame-ui#ToolbarPushback keybind-box device-button {
        margin-left: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center
    }

    ingame-ui#ToolbarPushback keybind-box:hover {
        background-color: var(--enabledHoverBackgroundColor);
        color: var(--enabledHoverColor)
    }

        ingame-ui#ToolbarPushback keybind-box:hover device-button .text-icon-container.no-image-found .text {
            border-color: var(--enabledHoverColor);
            color: var(--enabledHoverColor)
        }

ingame-ui#ToolbarPushback inputable-range {
    flex-direction: column;
    padding: 3px 10px 0;
    margin: 2px 0 0
}

    ingame-ui#ToolbarPushback inputable-range label {
        flex-direction: row;
        justify-content: flex-start
    }

ingame-ui#ToolbarPushback .btn-container.xs-collapse {
    flex-direction: column;
    justify-content: flex-start
}

ingame-ui#ToolbarPushback new-push-button * {
    text-align: center;
    width: 100%
}

ingame-ui#ToolbarPushback tabmenu-item.Focused > .parent-is-highlighted {
    position: absolute
}

ingame-ui#ToolbarPushback new-range-element .mainbutton {
    width: 100% !important
}

ingame-ui#ToolbarPushback #ReadmeHint {
    background-color: rgba(255,0,0,.9);
    display: none;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 5px
}

ingame-ui-header .custom-icons {
    margin-right: calc(var(--screenHeight) * (12px / 2160))
}

ingame-ui#ToolbarPushback.panelInvisible {
    opacity: 0 !important
}

head {
    transform: scale(1)
}

ingame-ui#ToolbarPushback::part(header) {
    display: none !important;
    height: 0 !important;
    padding: 0 !important;
}

ingame-ui#ToolbarPushback::part(border-content) {
    top: 0 !important;
}